In [1]:
import numpy as np
import pandas as pd

In a first Jupyter notebook called `Top10.ipynb`, analyze what the top 10 causes of calls to 311 are in your chosen ZIP code, and calculate how many total incidents of each of these 10 types there have been in the year 2020. Your answer should be a pandas.Series which you must call top10 (as a Python variable), which should be in descending order by number of incidents, and which contains as its labels the incident type (a string) and as associated values the total number of incidents of this type in 2020.

In [30]:
df = pd.read_csv('/Users/bastienhabert/Desktop/311_Service_Requests_2020_1.csv', sep=';')

/Users/bastienhabert/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
df['Created Date'] = pd.to_datetime(df['Created Date'])
df['Closed Date'] = pd.to_datetime(df['Closed Date'])
df['Due Date'] = pd.to_datetime(df['Due Date'])

In [33]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,45285347,2020-01-01,2020-01-10 00:00:00,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11229.0,3442 NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600129,-73.941843,"(40.6001292057807, -73.94184291675883)"
1,45285651,2020-01-01,2020-01-02 00:00:00,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,10458.0,2701 DECATUR AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.864866,-73.888783,"(40.86486556770799, -73.88878325729915)"
2,45285821,2020-01-01,2020-01-02 09:50:00,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Other (Explain Below),11203.0,5707 CHURCH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652536,-73.923540,"(40.65253575905768, -73.92353994017134)"
3,45287907,2020-01-01,2020-01-02 00:00:00,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11214.0,1602 SHORE PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.595653,-74.000173,"(40.59565343138651, -74.00017283917487)"
4,45288240,2020-01-01,2020-01-02 00:00:00,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,11385.0,1717 CORNELIA STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.700366,-73.905438,"(40.700366489799876, -73.90543829006366)"

In [45]:
df['Incident Zip'].value_counts()

10466.0    21265
11226.0    18734
10457.0    16721
11385.0    15907
10467.0    15451
           ...
10151.0        4
10158.0        3
10153.0        3
10166.0        2
10055.0        1
Name: Incident Zip, Length: 233, dtype: int64

In [52]:
top10 = df[df['Incident Zip'] == 10466]['Complaint Type'].value_counts().head(10)
assert type(top10) == pd.core.series.Series

In [54]:
top10

Noise - Residential            14641
HEAT/HOT WATER                  1019
Blocked Driveway                 821
Illegal Parking                  479
Non-Emergency Police Matter      413
Street Condition                 258
Derelict Vehicles                231
UNSANITARY CONDITION             219
Noise - Street/Sidewalk          202
Abandoned Vehicle                195
Name: Complaint Type, dtype: int64

In [63]:
df[df['Incident Zip'] == 10466].groupby('Complaint Type').count()['Unique Key'].sort_values(ascending=False).head(10)

Complaint Type
Noise - Residential            14641
HEAT/HOT WATER                  1019
Blocked Driveway                 821
Illegal Parking                  479
Non-Emergency Police Matter      413
Street Condition                 258
Derelict Vehicles                231
UNSANITARY CONDITION             219
Noise - Street/Sidewalk          202
Abandoned Vehicle                195
Name: Unique Key, dtype: int64