In [1]:
import numpy as np
import pandas as pd

In a first Jupyter notebook called `Top10.ipynb`, analyze what the top 10 causes of calls to 311 are in your chosen ZIP code, and calculate how many total incidents of each of these 10 types there have been in the year 2020. Your answer should be a pandas.Series which you must call top10 (as a Python variable), which should be in descending order by number of incidents, and which contains as its labels the incident type (a string) and as associated values the total number of incidents of this type in 2020.

In [2]:
#import dataframe
#df = pd.read_csv('/Users/bastienhabert/Desktop/311_Service_Requests_2020_raw.csv', sep=',')
df = pd.read_csv('311_Service_Requests_2020.csv', sep=',')

#clean dataframe
df['Created Date'] = pd.to_datetime(df['Created Date'])
df['Closed Date'] = pd.to_datetime(df['Closed Date'])
df['Due Date'] = pd.to_datetime(df['Due Date'])
df.columns = df.columns.str.lower().str.replace(" ", "_")

df.head()

/Users/bastienhabert/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
0,45285347,2020-01-01,2020-01-10 00:00:01,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11229.0,3442 NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600129,-73.941843,"(40.6001292057807, -73.94184291675883)"
1,45285651,2020-01-01,2020-01-02 00:00:01,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,10458.0,2701 DECATUR AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.864866,-73.888783,"(40.86486556770799, -73.88878325729915)"
2,45285821,2020-01-01,2020-01-02 09:50:09,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Other (Explain Below),11203.0,5707 CHURCH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652536,-73.923540,"(40.65253575905768, -73.92353994017134)"
3,45287907,2020-01-01,2020-01-02 00:00:01,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11214.0,1602 SHORE PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.595653,-74.000173,"(40.59565343138651, -74.00017283917487)"
4,45288240,2020-01-01,2020-01-02 00:00:01,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,11385.0,1717 CORNELIA STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.700366,-73.905438,"(40.700366489799876, -73.90543829006366)"

We choose our ZIP code, 10001, and we make sure it exists in the dataset:

In [3]:
exists = 10001 in df['incident_zip']
print(exists)

True

In [4]:
top10 = df[df['incident_zip'] == 10001]['complaint_type'].value_counts().head(10)
assert type(top10) == pd.core.series.Series

In [5]:
top10

Noise - Residential                    1432
Homeless Person Assistance              999
Noise                                   897
NonCompliance with Phased Reopening     816
Homeless Street Condition               706
Noise - Street/Sidewalk                 705
Illegal Parking                         619
Non-Emergency Police Matter             456
Vending                                 357
Street Condition                        294
Name: complaint_type, dtype: int64

We can also do it aggregating data at `complaint_type`level and keeping only the 10 most frequent values:

In [6]:
df[df['incident_zip'] == 10001].groupby('complaint_type').count()['unique_key'].sort_values(ascending=False).head(10)

complaint_type
Noise - Residential                    1432
Homeless Person Assistance              999
Noise                                   897
NonCompliance with Phased Reopening     816
Homeless Street Condition               706
Noise - Street/Sidewalk                 705
Illegal Parking                         619
Non-Emergency Police Matter             456
Vending                                 357
Street Condition                        294
Name: unique_key, dtype: int64